body {
    color: whitesmoke;
    background-color: deepskyblue;
}

.img1 {
    float: right;
    padding-right:5em;
}

.img2 {
    float: left;
    margin-right:25px;
}

.clearfix {
    overflow: auto;
}



.img3 {
    float: right;
    margin: 25px 25px;
    padding: 1em;
}

.img4 {
    float: left;
    margin: 25px 25px;
    padding: 1em;
}

.img5 {
    float: right;
    margin: 25px 25px;
    padding: 1em;
}

table {
    border-collapse: collapse;
}

table,
td,
th {
    border: 1px solid black;
}

.first {
    
    float: right;

}

.second {
  
    float:left;
    
}

.three {
   
    float: left;
    
}

.footer {
    text-align: center;
    background-color: blue;
}


[class*="col-"] {
    width: 100%;
}

@media(min-width: 800px) {
    .history {
        display: flex;
    }

    .myCity {
        width: 100%;
    }

    .img{
        display:flex;
    }
 .footer {
    display: flex;
    }
}



